@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100%;
   font-family: "Roboto", sans-serif ;
   scroll-behavior: smooth;
   font-size: 62.5%;
}